.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-image: url("../images/background_header.svg");
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  max-width: 709px;
  letter-spacing: 1px;
}

.header__title:first-of-type span {
  color: #2f80ed;
  font-family: "noto serif";
  font-style: italic;
}

.header__image {
  display: flex;
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__description {
  max-width: 683px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}
