/*.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "inter", arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  background-image: url("../images/background_header.svg");
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  justify-content: space-between;
  width: 105px;
  height: 39px;
  margin: 30px auto 183px 30px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 8px 0 0;
  padding: 0;
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  max-width: 709px;
  letter-spacing: 1px;
}

.header__title:first-of-type span {
  color: #2f80ed;
  font-family: "noto serif";
  font-style: italic;
}

.header__image {
  display: flex;
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__description {
  max-width: 683px;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer__column {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.footer__column-heading {
  margin-top: 100px;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: 16px;
  list-style: none;
  justify-content: space-between;
}

.footer__list {
  padding: 0;
}

.footer__list-item {
  margin-top: auto;
  list-style: none;
}

.header__paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin: 0;
}

.recipes {
  display: flex;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  color: #ffffff;
  background-size: cover;
  flex-direction: column;
  padding-left: 80px;
  padding-bottom: 215px;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  margin-top: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reservation {
  padding-top: 100px;
}

.reservation__form {
  display: flex;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fieldset {
  display: flex;
  margin-bottom: 120px;
  flex-direction: column;
  max-width: 385px;
  justify-content: center;
  position: relative;
  border: 0;
}

.reservation__title {
  display: flex;
  margin: 0 auto 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.form__label {
  display: flex;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 32px;
  margin-bottom: 8px;
  justify-content: flex-start;
}

.form__input {
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-radius: 4px;
  border: color #838383;
}

.input::placeholder {
  color: #838383;
}

.button {
  background-color: #2f80ed;
  border: none;
  color: #ffffff;
}

.button:hover {
  opacity: 0, 7;
}

.form__button-submit {
  display: flex;
  margin-top: 32px;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #2f80ed;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  max-width: 385px;
}

.form__checkbox {
  margin-top: 32px;
  border-radius: 4px;
}

.form__checkbox-input {
  border-radius: 2px;
}*/
@import url("../blocks/footer.css");
@import url("../blocks/form.css");
@import url("../blocks/header.css");
@import url("../blocks/nav.css");
@import url("../blocks/page.css");
@import url("../blocks/recipes.css");
@import url("../blocks/reservation.css");
